*{
  box-sizing: border-box;
}

body{
  font-family: 'Mulish', sans-serif;
  position: relative;
}
/*HEADER*/
nav{
  position: relative;
  width: 100%;
  text-align: right;
}
header{
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.438);
  line-height: 10px;
}
header h1{
  padding: 30px 30px 0;
  /* margin-top: 18px; */
  text-transform: capitalize;
  font-size: 30px;
  letter-spacing: 3px;
}
.list-links{
  display: none;
}
.fa{
  padding: 30px;
  cursor: pointer;
  transition: 0.5s linear;
  z-index: 2;
}
.fa-transform{
  transform: rotate(90deg); 
}
/*MAIN*/
.main-home{
  margin-bottom: 50px;
  background-image:url(/assets/images/tobias-tullius-PXXtq6bp6cs-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.description{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  padding-bottom: 50px;
}
.description-info{
  padding: 20px;
  text-transform: capitalize;
  text-align: left;
  line-height: 40px;
  margin: 0 auto;
  margin-top: 50px;
}
.description-info p{
  padding: 10px 0;
  letter-spacing: 3px;
}
.description-info h3{
  font-size: 40px;
}
.description-info span{
  color: orange;
  font-size: 50px;
}
.description-img{
  padding: 50px;
}
.description-img img{
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 1px solid rgba(128, 128, 128, 0.253);
  -webkit-box-shadow: 10px 11px 35px -15px rgba(89,80,89,1);
  -moz-box-shadow: 10px 11px 35px -15px rgba(89,80,89,1);
  box-shadow: 10px 11px 35px -15px rgba(89,80,89,1);
}
/* ! MAIN ABOUT */
.main-about h1{
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
  padding: 50px;
}
.main-about{
  margin-bottom: 50px;
  background-image:url(/assets/images/jeremy-bishop-iEjCQtcsVPY-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-about-me{
  padding: 30px;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
}
.container-about{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  padding: 30px;
}
.container-about h1{
  text-align: left;
  text-transform: capitalize;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 20px;
}
.about-list{
  list-style-type: disc;
  margin-left: 50px;
}
.about-list li{
  padding: 10px;
  text-transform: capitalize;
  font-size: 20px;
  text-align: left;
  line-height: 30px;
}
/* ! MAIN CONTAT */
.main-contact h1{
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
  padding: 50px;
}
.main-contact{
  background-image:url(/assets/images/will-turner-XAhXe3gY9OQ-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contact-section article{
  display: flex;
  line-height: 30px;
}
.contact-section h4{
  padding: 0 10px;
  margin-left: 30px;
  width: 200px;
}
.contact-section p{
  margin-left: 30px;
  padding: 0 10px;
}
.contact-section{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 50px;
  padding: 50px;
}
.address{
  margin-bottom: 50px;
}
/* ! PROJECTS */
.main-project{
  background-image: url(/assets/images/saffu-UEgo43quyCw-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.projects{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 50px;
}
.project-item{
  height: 300px;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: black;
  color: white;
}
.project-item h1{
  text-align: center;
  padding: 20px;
}
.source{
  text-align: center;
  margin-top: 15px;
}
.project-item a{
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 20px;
  background-color: gray;
  color: white;
}
.projects img{
  width: 330px;
  height: 180px;
}
.project-item:first-child{
  margin-top: 100px;
}
.project-item:last-child{
  margin-top: -100px;
}
/* ! FOOTER */
footer{
  width: 100%;
  height: 75px;
  color: white;
  margin-top: -50px;
  background-color: black;
}
footer h3{
  text-align: center;
  text-transform: capitalize;
  line-height: 75px;
}
.map{
  width: 100%;
  height: 300px;
  border: 1px solid black;
  margin-left: 30px;
  margin-bottom: 50px;
  margin-top: 20px;
  display: none;
}
.toggle{
  display: none;
  text-align: center;
  margin-top: 20px;
  z-index: 1;
}
.list-item a{
  text-decoration: none;
  color: black;
  font-size: 25px;
  text-transform: capitalize;
}
.list-links{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
.list-item{
  list-style: none;
  padding: 20px;
}
/* ! MEDIA */
@media screen and (max-width: 992px) {
  .toggle{
    display: block;
  }
  .list-links{
    border-top:1px solid rgb(211, 209, 209) ;
    display: none;
    background-color: rgba(204, 200, 200, 0.226);
  }
  .list-item{
    padding: 50px;
  }
  ul li{
    display: block;
    text-align: center;
  }
  .active{
    display: block;
  }
  header h1{
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 70px;
    grid-row-gap: 0px;
    margin-bottom: 20px;
    padding-bottom: 100px;
  }
  .projects img{
    width: 310px;

  }
  .project-item{
    margin-bottom: 200px;
    margin-top: 100px;
  }
  .project-item:last-child{
    margin-top: 100px;
  }
  .project-item:hover{
    transition: 1.5s linear;
    transform: rotateY(360deg);
  }
  .map{
    display: block;
  }
  .address{
    width: 700px;
  }
  .contact-section h4:nth-child(2){
    display: none;
  }
  header h1 {
    margin-top: 18px;
    padding: 30px;
  }
  header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .fa{
    display: none;
  }
  .list-links{
    display: block;
    display: flex;
    justify-content: space-between;
    width: 550px; 
    padding: 30px;
    margin-right: 50px;
  }
  .list-item a{
    color: gray;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    transition: transform .3s ease-out;
    display: inline-block;
  }
  .list-item a:hover{
    color: black;
    transform: translate(3px, -7px);
  }
  .description{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .description-info{
    padding-top: 130px;
    line-height: 60px;
  }
  .description-info p{
    font-size: 30px;
    letter-spacing: 3px;
    opacity: 0.8;
  }
  .description-info span{
    font-size: 80px;
  }
  .description-info h3{
    font-size: 70px;
  }
  .description-img{
    padding-top: 60px;
    margin: 0 auto;
  }
  /* MAIN ABOUT */
  .container-about{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
  }
  .container-about h1{
    text-align: center;
  }
  .about-list{
    margin-left: 0px;
  }
  .container-about article{
    margin-left: 20px;
  }
}

@media screen and (min-width: 1200px) {
  main{
    width: 1200px;
    margin: 0 auto;
  }
}